.container {
    width: 1900px;
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.top-container {
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************HEADER***********************/

.header {
    width: 100%;
    height: 70px;
    background-color: #1d2124;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
}

.logo-img {
    flex-direction: row;
    width: 70px;
    height: 70px;
    background-color: #171a1c;
    background-image: url("../img/logo-img.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo-name {
    flex-direction: row;
    align-self: center;
    padding-left: 10px;
}

.logo-link {
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

.menu-item {
    display: inline;
    padding-left: 35px;
}

.menu-item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.search {
    width: 70px;
    height: 68px;
    background-color: #171a1c;
}

.fa-search {
    color: #ffffff;
    font-size: 22px;
    padding: 25px;
}

/********************LATEST NEWS******************/


.latest-news {
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news-header {
    display: flex;
    justify-content: center;
    margin: 130px 0 45px 0;
    font-size: 27px;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.subscribe-bnt {
    background-color: #89ca62;
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 3;
    margin: 0 10px 0 10px;
}

.articles-btn {
    background-color: #14b9d5;
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 3;
    margin: 0 10px 0 10px;
}

.btn-link {
    color: #ffffff;
    text-decoration: none;
}

/********************MOST POPULAR POSTS***********/

.popular-posts {
    background-color: #f2f2f2;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.section-title {
    font-size: 27px;
    font-weight: 700;
    color: #14b9d5;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    padding: 55px 0;
}

.hotels-gallery {
    height: 870px;
    width: 1110px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.hotel-card {
    width: 370px;
    background-color: #ffffff;
    margin: 10px;
}

.hotel-subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    padding: 20px 0 22px 0;
    text-align: center;
}

/********************MOST POPULAR CLIENTS*********/

.popular-clients {
    display: grid;
    grid-template-columns: 500px 225px 225px 225px 225px 225px;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 1900px;
    height: 590px;
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-clients-title {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    justify-self: center;
    align-self: center;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.blue-line {
    background-color: #14b9d5;
    width: 60px;
    height: 3px;
    grid-row-start: 3;
    grid-column-start: 3;
    justify-self: end;
    align-self: center;
}

.logo1 {
    grid-row-start: 4;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
}

.logo2 {
    grid-row-start: 4;
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
}

.logo3 {
    grid-row-start: 4;
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
}

.logo4 {
    grid-row-start: 4;
    grid-column-start: 5;
    justify-self: center;
    align-self: center;
}
/********************TOP RATED********************/

.top-rated {
    background-color: #f2f2f2;
}

.top-rated-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/********************HOT NEWS*********************/


.hot-news-container {
    width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 45px;
    grid-column-gap: 40px;
    justify-items: end;
    grid-template-areas:
            "hot-news-descr1 hot-news-descr1 hot-news-descr1 hot-news-descr4"
            "hot-news-descr5 hot-news-descr5 hot-news-descr7 hot-news-descr7"
            "hot-news-descr9 hot-news-descr9 hot-news-descr11 hot-news-descr11"
            "hot-news-descr13 hot-news-descr14 hot-news-descr14 hot-news-descr14"
}

.hot-news-descr1 {
    grid-area: hot-news-descr1;
    background-color: #f9f7f7;
    display: inline-flex;
}

.hot-news-img1 {
    flex-direction: row;
}

.descr-title1 {
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;
    padding: 30px 25px 20px 0;
    text-align: right;

}

.descr-text1 {
    font-size: 14px;
    color: #5b6469;
    line-height: 1.5;
    padding: 0 25px 35px 25px;
    text-align: right;
}

.content {
    flex-direction: row;
}


.hot-news-descr4 {
    grid-area: hot-news-descr4;
    background-color: #f9f7f7;
}

.descr-title2 {
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;
    padding: 15px 0 15px 0;
    text-align: center;
}

.hot-news-descr5 {
    grid-area: hot-news-descr5;
    background-color: #f9f7f7;
}

.hot-news-descr7 {
    grid-area: hot-news-descr7;
    background-color: #f9f7f7;

}

.hot-news-descr9 {
    grid-area: hot-news-descr9;
    background-color: #f9f7f7;

}

.hot-news-descr11 {
    grid-area: hot-news-descr11;
    background-color: #f9f7f7;

}

.hot-news-descr13 {
    grid-area: hot-news-descr13;
    background-color: #f9f7f7;

}

.hot-news-descr14 {
    grid-area: hot-news-descr14;
    display: inline-flex;
    background-color: #f9f7f7;
}

.descr-title14 {
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;
    padding: 40px 0 20px 25px;
    text-align: left;
}

.descr-text14 {
    font-size: 14px;
    color: #5b6469;
    padding: 0 25px 35px 25px;
    line-height: 1.5;
    text-align: left;
}

/********************FOOTER***********************/

.footer {
    width: 1900px;
    height: 80px;
    margin-top: 70px;
    background-color: #1d2124;
    display: grid;
    grid-template-columns: 350px 550px auto 40px 65px 350px;
    align-items: center;
}

.copyright {
    font-size: 14px;
    color: #ffffff;
    grid-column: 2;
}

.footer-logo-img {
    grid-column: 4;
}

.footer-logo-text {
    grid-column: 5;
}















